@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Dancing+Script');/*pega no site www.google.com/font*/

@font-face{
	font-family: 'Fontelogo';/*formataçao do H1*/
	src: url("../_fonts/bubblegum-sans-regular.otf");
	
}


body{
font-family: Arial, sans-serif; /* fonte do site*/
background-color: #dddddd; /*cor do fundo do site */
color:rgba(0,0,0,1); /*cor da fonte do site */
}


div#interface{ /*"tamanho" do site*/
	width: 1250px ;
	background-color: #EEEEE0; /*cor de dentro do site, fora as margens*/
	margin: -20px auto 0px auto; /*config das margens*/
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
	padding: 10px ; /*espaço externo pro texto nao ficar tao colado*/
	
	
}

p{
	/* se quiser ajustar os paragrafos*/
	text-align: justify;
	text-indent: 50px;
	
}

a{
	/*algumas palavras que estao sublinhada*/
color: #606060;
text-decoration: none;		 
}	 

a:hover {
	text-decoration: underline; /* pra qnd passar o mouse por cima do link ficar sublinhado*/
}


header#cabecalho img#icone{ /*foto do oculos*/ 
		 position: absolute;
		 left:1000px;
		 top: 5px;
	}
header#cabecalho{
		 border-bottom: 1px #606060 solid; /*linhas do site*/
		 height: 150px; /* altura do cabeçalho*/
		 background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px; /* posicionamento da logo marca*/
	 }
header#cabecalho h1{
		 font-family: 'Fontelogo' , sans-serif;
		 font-size: 30pt;
		 color: #606060;
		 text-shadow: 1px 1px 1px rgba(0,0,0,.6);
		 padding: 0px;
		 margin-bottom: 0px;
	 }
header#cabecalho h2{
		 font-family: 'Dancing Script', cursive;
		 font-size: 15pt;
		 color: #888888;
		padding: 0px;
		margin-top: 0px;
	 }
 header#cabecalho-artigo h1{
	 font-family: 'Fontelogo' , sans-serif;
	 font-size: 20pxt;
	 color: #606060;
	 margin-bottom: 0px;
	 margin-top: 0px;
 }
 .direita{
	 text-align: right;
 }
  header#cabecalho-artigo h2{
	  font-size: 13pt;
	  color: #cecece;
	  background-color: #ffffff;
	  margin: 0px;
	  
	  
  }
   header#cabecalho-artigo h3{
	   font-size: 12px;
	   color: #606060;
   }
 table#tabelaed{ /*config da tabela*/
	 border: 1px solid #606060;
	 border-spacing: 0px;
	 margin-left: auto; /* movimentar tabela */
	 margin-right: auto;
 }


 /*formataão de imagens com legendas */
 figure.foto-legenda{
	 position: relative;
	border: 8px  solid whide;
	box-shadow: 1px 1px 4px black;
 }
 figure.foto-legenda img{
	 width: 100%;
	 height: 100%;
 }
 figure.foto-legenda figcaption{
	 opacity: 0;
	 position: absolute;
	 top: 0px;
	 background-color:  rgba(0,0,0,.4);
	 color: white;
	 width: 100%;
	 height: 100%;
	 padding: 10px;
	 box-sizing: border-box;
	 transition: opacity 1s;
	 
 }
 figure.foto-legenda:hover figcaption{/* legenda so aparece qnd o mouse passa pela imagem*/
	 opacity: 1;
 } 

 
  /*Formataçao do menu*/
 nav#menu{
	 display: block;
 }
 
 nav#menu ul{
	 list-style: none;
	 text-transform: uppercase; /*deixa todo texto em maiuscula*/
	 position: absolute;
	 top:-20px;
	 left: 300px;
	 
 }
 nav#menu li{
	 display:inline-block ;
	 background-color: #dddddd;
	 padding: 10px;
	 margin: 2px;
	 
	 
-webkit-transition: background-color 1s;
-moz-transition: background-color 1s; 
transition: background-color 1s; /*tempo que leva o efeito */
 }
 
 nav#menu li:hover{ /*efeito pra quando passar o mouse por cima do menu*/
	 background-color: #606060; /*cor da do menu*/
 }
 nav#menu h1 {
	display: none; 
 }
 
 nav#menu a {
	 color: #000000;
	 text-decoration: none; /* tira o sublinhado da palavra*/
 }
 
 nav#menu a:hover{
	 color: #ffffff; /*cor da fonte do menu*/
	 text-decoration: underline; /*qnd passa o mouse por cima fica sublinhado*/
 }
  section#corpo{
	 display: block;
	 width: 600px;
      float: left;/* mexendo do lado esquerdo*/
	  border-right: 1px solid #606060; /*bordas*/
	  padding-right: 15px ; 
 }
 
  article#noticia-principal h2{
	 font-size: 13px;
	 color: #606060;
	 background-color: #dddddd;
	 padding: 5px 0px 5px 10px;
	 margin: 10px 0px 10px 0px;
 }

  table#tabelaed{ /*config da tabela*/
	 border: 1px solid #606060;
	 border-spacing: 0px;
	 margin-left: auto; /* movimentar tabela */
	 margin-right: auto;
 }
 table#tabelaed td{ /*config das celulas da tabela*/
	 border: 1px solid #606060;
	 padding: 10px; /*espaço interno da tabela*/
	 text-align: center; /*alinhamento da tabela*/
	 vertical-align: middle;
 }
 table#tabelaed td.ce{
	 color: #ffffff;/*cor da fonte da tabela*/
	 background-color: #606060;
	 vertical-align: top;
	 font-weight: bold;
 }
 table#tabelaed td.cd{
	 color: black; /*cor da fonte da tabela*/ 
	 background-color: #cecece; /*cor do fundo da tabela*/
	 
 }
 table#tabelaed caption {
	 color: #888888; /*cor do titulo da tabela*/
	 font-size: 18px;
	 font-weight: bolder;
 }
 table#tabelaed caption span{ /*config do Mar/2013 do arquivo index*/
	 display: block;
	 float: right;
	 color: #000000;
	 font-size: 10px;
	 margin-top: 10px;
 }

  aside#lateral{
	 display: block;
	 width: 600px;
	 float: right; /* mexendo do lado direito */
	 background-color:#dddddd;
	 padding: 10px;
	 margin-top: 10px;
	 box-shadow: 2px 2px 2px rgba(0,0,0,.5); /*sombra*/
 }
  aside#lateral h1 {
	 font-family: 'Fontelogo' , sans-serif;
	 font-size: 20pt;
	 color: #606060;
	 margin-top: 0px;
 }
 aside#lateral h2 {
	 background-color: #606060;
	 font-size: 13pt;
	 color: #ffffff;
	 padding: 5px;
 }


  footer#rodape{
	 clear: both;  /* mexendo do lado rodape*/
	 border-top: 1px solid #606060; /*bordas*/
 }
 footer#rodape p {
	 text-align: center;
 }


 

 